<ons-navigator title="BNorBeOut" var="appNavigator">
    
    <ons-page ng-controller="HomeController">
        
        <ons-toolbar fixed-style>
            <div class="left">
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="bars">
            </ons-toolbar-button>
            </div>
            
            <div class="center">BNorBeOut</div>
            
            <div class="right">
            <ons-toolbar-button onclick="appNavigator.pushPage('contact.html',{title: 'CONTACT US', animation: 'slide'})">
            <ons-icon icon="envelope">
            </ons-toolbar-button>
            </div>
        </ons-toolbar>
        
        <ons-scroller>
            
            <section style="padding: 0 10px 0 0;">
                <center><img ng-src="img/BNLogo.png" alt="The House that Chapman Built"/></center>
            </section>
            <section class="home-grid">
                <div class="grid-menu">
                    <div class="centering-and-alignment" ng-repeat="row in items | partition:3">
                      <div class="grid-menu-item list__item list__item--tappable" ng-repeat="item in row" ng-click="showDetail(($parent.$index*row.length)+$index);">
                        <ons-icon style="color: #BB8B09" icon="{{item.icon}}"></ons-icon>
                        <div class="grid-menu-item-label">{{item.title}}</div>
                      </div>
                    </div>
                </div>

                <ons-list class="list-top">
                    <ons-list-header>What's New?</ons-list-header>
                    <ons-list-item modifier="chevron">
                        <ons-row>
                                <center><img ng-src="http://bnorbeout.com/wp-content/uploads/appimages/AppSquareAd.jpg" ng-click="loadURL('http://bnorbeout.com/whats-new')" alt="No Internet Connection"/></center>
                            </ons-col>
                        </ons-row> 
                    </ons-list-item>
                </ons-list>
                
                <ons-list class="list-top">
                    <ons-list-header>CONTACT</ons-list-header>
                    <ons-list-item modifier="chevron" >
                        <ons-row>
                            <ons-col width="15%">
                            </ons-col>
                            <ons-col class="left">
                                2115 S. Martin Luther King Jr. Blvd., Tallahassee, FL 32301
                            </ons-col>
                        </ons-row>
                        <ons-row>
                            <ons-col width="15%">
                            </ons-col>
                            <ons-col class="left">
                                414-841-2407
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            </section>

        </ons-scroller>
        
    </ons-page>

</ons-navigator>