<ons-page ng-controller="MenuController">
    
    <ons-toolbar>
    <div class="center">OFFLINE MENU</div>
    </ons-toolbar>
      
    <ons-list class="list-top">
        <ons-list-item modifier="chevron" ng-repeat="item in items" ng-click="showDetail($index)">
            <ons-row>
                <ons-col width="15%"> 
                <ons-icon style="color: #BB8B09" icon="{{item.icon}}"></ons-icon>
                </ons-col>
                <ons-col>
                {{item.title}}
                </ons-col>
            </ons-row> 
        </ons-list-item>
    </ons-list>  

</ons-page>