<ons-page class="center">
    
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="bars">
                    </ons-toolbar-button>
        </div>
        <div class="center">ABOUT BN</div>
    </ons-toolbar>
    
        <section style="padding: 10px;">
        <p style="text-align: justify;">The establishment of the Beta Nu Chapter at Florida A&amp;M University was due in no small part to the presence of Jewel Charles Henry Chapman, one of the seven founders of Alpha Phi Alpha Fraternity, Incorporated. Born in 1876 in Cayuga County, New York, this son of the Reconstruction-era America, would in his adult life, build the foundation for another bold new beginning for African-Americans in the South. Beta Nu was chartered Saturday, April 23, 1932. As the history of Alpha Phi Alpha: A Development in College Life so eloquently state, “Beta Nu Chapter was said to be the first undergraduate chapter of a Greek letter fraternity to be established in the state of Florida, and also at the Florida A&amp;M University.” Eleven other men, affectionately known as the charter members, were also charged with the shaping and forming the foundation of Beta Nu. Those men are, N. H Bennet, J. B Bragg Jr., L. B Childs, S. O Cohen, W. H Dubose, D. W Greene, J. E Matthews, J. E Pickney, F. E Pinder Jr., W. W Weatherspool, and J. W Williams.</p>
        <p style="text-align: justify;">For more than 75 years, the Beta Nu Chapter of Alpha Phi Alpha Fraternity, Inc. has set the standard for the excellence in fraternal uplift, community service, and public leadership throughout the entire House of Alpha. Sired as a tiny flicker of fraternal light in 1932, the glow of the Beta Nu torch soon ignited a scorching, insatiable wildfire of achievement, filling the dark skies of disaster with brilliant, black and gold flames of triumph and the radiant flare of “Tenacity, Above all Tenacity.”</p>
        <p style="text-align: justify;">Today the Beta Nu Chapter of Alpha Phi Alpha Fraternity, Inc., is comprised of 30+ brothers diversely distributed throughout the colleges at Florida A&amp;M University. From the College of Education to the School of Business and Industry, Beta Nu brothers continue to uphold the light of Alpha by excelling in their academic fields. Chapter brothers are heavily involved in a mixture of other organizations on campus as well. These organizations include the Student Government Association, the FAMU Chapter of the NAACP, the Student National Alumni Association and the Marching 100 to name a few.</p>
        <p style="text-align: justify;">The chapter continues its service to the community of Tallahassee, and the University through service, which will have a deep impact on both. Community Service is at the forefront of all chapter responsibilities. The chapter is involved in at least 2-3 community service projects per week to better our community. Such community service projects include Project H.O.M.E., Reading Wednesdays at New Beginnings Daycare, Campus and Community Clean-Up, and volunteering with various youth organizations. University Service is achieved through seminars and social events such as Freshman Welcome Week, State of the Black Man, Leadership Development, Rock the Vote, to name a few.</p>
        <p style="text-align: justify;">Manly Deeds, Scholarship, and Love for all Mankind are the aims of our dear fraternity. It is with the utmost respect that the Beta Nu Chapter of Alpha Phi Alpha Fraternity, Inc., not only adhere to the aims, but continue making its presence known in the national organization, the community, and the University, so that we may become through thee, servants of all.</p>
        </section>
</ons-page>