<ons-page ng-controller="ContactController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">CONTACT</div>
    </ons-toolbar>

    <section style="padding: 10px">
        <center><h3>Have a Question or Suggestion?</h3><b>Write Us Below</b><br><br></center>
        <input type="text" class="text-input" placeholder="Subject" ng-model="subject" style="width:100%; margin-bottom:10px;">

        <textarea class="textarea" rows="10" placeholder="Message" ng-model="message" style="width:100%; margin-bottom:10px;"></textarea>

        <ons-button modifier="large" ng-click="submitForm()">
        Send Message
        </ons-button>
    </section>  

</ons-page>